# 开发环境（本地 SQLite）
# DATABASE_URL="file:./dev.db"

# 生产环境 Supabase PostgreSQL（部署时在 Vercel 环境变量中设置）
DATABASE_URL="postgresql://postgres.zdejqtggimggsrdwefcj:你的密码@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

AUTH_SECRET="hmFozu47bg6YRR9jlrcD3z1Kn5rfpPhVPcGCYa5OQFg="

# OAuth 登录（可选）
# GOOGLE_CLIENT_ID=""
# GOOGLE_CLIENT_SECRET=""
# GITHUB_CLIENT_ID=""
# GITHUB_CLIENT_SECRET=""
